appfiles
app.log
.cache
CHANGELOG*
CHANGELOG.md
cloudformation-templates
*.cover
.coverage
.coverage.*
coverage.xml
deploy
.devcontainer
.devcontainer/*
docker-compose*.yml
Dockerfile*
.dockerignore
.env
env
envtest
.git
.git*
helm
htmlcov
.hypothesis
.idea
.ignoretests
*.ipynb
*.log
.log
main_example.py
makefile
Makefile
mock_server.py
model_data
.mypy_cache
nosetests.xml
_old
pip-delete-this-directory.txt
pip-log.txt
.pre-commit-config.yaml
*.pyc
.pyc
__pycache__
*.pyd
*.pyo
.pytest_cache
.Python
requirements-dev.txt
requirements-tests.txt
requirements-*.txt
stack-manager
test_files
*tests
tests
.tox
Untitled.ipynb
venv
version.txt
.vscode
wheel_sdk
