from .report_component import {{ entity_title }}




{{ entity_underscore }}_component = {{ entity_title }}(
    title="{{ entity_title }}",
    component_id="{{ entity_underscore }}",
    component_type="{{ component_type }}"
)


