from licenseware.common.constants import flags
from licenseware.app_builder import AppBuilder


App = AppBuilder(
    name='Service Name',
    description='Service description',
    flags=[flags.BETA]
)




