# Uncomment bellow 2 lines to run app with: `python3 main.py` url at: localhost:5000/api/docs
# from licenseware.utils.miscellaneous import set_environment_variables
# set_environment_variables(envs={"ENVIRONMENT": 'desktop'})
from licenseware.common.constants import flags
from licenseware.app_builder import AppBuilder


App = AppBuilder(
    name='Service Name',
    description='Service description',
    flags=[flags.BETA]
)




