__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git*
.mypy_cache
.pytest_cache
.hypothesis
.ignoretests

.dockerignore
tests
wheel_sdk
makefile
mock_server.py
venv
CHANGELOG.md
docker-compose*.yml
Dockerfile*
version.txt
deploy

.vscode
.idea
test_files
helm
