import os
from flask import Flask
from trend_app_protect import wrap_wsgi_app
from app import App

app = Flask(__name__)

App.init_app(app)
App.register_app()


# Trend Micro `Application Security`
if os.getenv('ENVIRONMENT') in {'prod', 'production'}:
    app = wrap_wsgi_app(app)


if __name__ == "__main__":
    # export `cat ./deploy/.env.debug`
    app.run(port=5000, debug=True)
    # Use bellow if you get wierd CORS errors
    # app.run(port=5000, debug=False, threaded=True)
