[tox]
envlist = py38

[testenv]
skip_install = True
setenv =


    APP_ID={{ app_dash }}
    DEBUG=true
    ENVIRONMENT=local
    APP_HOST=http://localhost
    AUTH_SERVICE_URL=http://localhost/auth
    REGISTRY_SERVICE_URL=http://localhost/registry-service
    FILE_UPLOAD_PATH=/tmp/lware
    LWARE_IDENTITY_USER=testing-service
    LWARE_IDENTITY_PASSWORD=testing123
    MONGO_CONNECTION_STRING=mongodb://lware:lware-secret@localhost:27017
    MONGO_DATABASE_NAME={{ app_underscore }}_dev
    {{ app_underscore_upper }}_IMAGE_TAG=latest
    USE_BACKGROUND_WORKER=False


deps =
    -r requirements-dev.txt
    -r requirements-tests.txt

commands =
    coverage run --source=app -m pytest -s -v {posargs}
    coverage xml
    coverage html
    coverage report -m