name: build-image-stable

on:
  release:
    types:
      - published

env:
  IMAGE_REPOSITORY: ${{ github.repository }}
  REGISTRY: ghcr.io

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Set up QEMU needed for Docker
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          logout: false
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
      - name: Build and push base image
        uses: docker/build-push-action@v3
        with:
          context: .
          labels: |
            org.opencontainers.image.source=${{ github.server_url }}/${{ github.repository }}
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_REPOSITORY }}:${{ github.head_ref || github.ref_name }}
