from .worker import {{ entity_underscore }}_worker
from .validator import {{ entity_underscore }}_validator
from .encryptor import {{ entity_underscore }}_encryptor

from licenseware.uploader_builder import UploaderBuilder


{{ entity_underscore }}_uploader = UploaderBuilder(
    name="{{ entity_title }}", 
    uploader_id = "{{ entity_underscore }}",
    description="Upload files for processing", 
    accepted_file_types=['.xls', '.xlsx'],
    validator_class={{ entity_underscore }}_validator,
    worker_function={{ entity_underscore }}_worker,
    encryptor_class={{ entity_underscore }}_encryptor,
    quota_units = 1
)
