from licenseware.uploader_encryptor import UploaderEncrytor



{{ entity_underscore }}_encryptor = UploaderEncrytor(
    filepaths=["deviceName", "database", "LMS_OPTIONS_(.*?).csv", "rl"],
    filecontent=["Machine Name=(.+)", "System IP Address 1=(.+)"],
    columns=["Host", "Device"]
)

