from licenseware.uploader_encryptor import UploaderEncrytor



{{ entity_underscore }}_encryptor = UploaderEncrytor(
    filenames = None,
    filepaths = None,
    filecontent = None,
    columns = None
)

